<h1> Pending Purchases </h1>

<% @pending_purchases.each do |purchase| %>
  <p> <%= purchase.user.email %> </p>
  <p> <%= purchase.book.title %> </p>
  <p> <%= purchase.quantity %> </p>
  <p> <%= purchase.book.price %> </p>
<% end %>
