<%= form_tag charges_path do %>
  <%#= hidden_field_tag :pending_purchase_id, purchase.id %>
  <article>
    <label class="amount">
      <span>Amount: <%= @amount %></span>
    </label>
  </article>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Your Books"
          data-billing-address=true
          data-shipping-address=true
          data-label="Purchase"
          data-amount=<%= @amount %>
          data-panel-label="Submit Order"
          data-locale="auto">
  </script>
<% end %>
